.page {
    .header {
        .text {
            color: #333;
        }
    }
    .content {
        .text {
            color: #666;
        }
    }
    .text {
        color: #000;
        font-size: 12px;
    }
}
